.quickPick {
  height: 100vh;
  color: white;
  padding: 0 2rem;
  background: rgba(0, 0, 0, 0.2);

  table {
    color: white;
  }

  i {
    font-size: 20px;
    cursor: pointer;

    &:hover {
      transition: all 0.2s ease-in-out;
      color: rgb(185, 185, 185);
    }
  }
}
