.navBar {
  background-color: rgba(0, 0, 0, 0.384);

  .emblem {
    width: 60px;
    filter: drop-shadow(1px 2px 6px black);
  }

  .userIcon {
    font-size: 20px;
  }

  .userDropDown {
    transform: translate3d(-120px, 40px, 0px);
  }

  &ProfilePic {
    width: 40px;
    border-radius: 50%;
    filter: drop-shadow(1px 2px 6px black);
  }
}
