@import "../../assets/scss/variables.scss";

.navBar {
  background-color: $color-primarybg;
  width: 100%;
  z-index: 1;

  .emblem {
    width: 60px;
    filter: drop-shadow(1px 2px 6px black);
  }

  .userIcon {
    font-size: 20px;
  }

  .userDropDown {
    transform: translate3d(-120px, 40px, 0px);
  }

  &ProfilePic {
    width: 40px;
    border-radius: 50%;
    filter: drop-shadow(1px 2px 6px black);
  }
}

@media only screen and (max-width: $breakpoint-phone) {
  .navBar {
    min-width: 520px;
  }
}
